<section>
  <h1>IPv4 Subnetting</h1>
  <hr />

  <app-dev-alert (hardReset)="hardReset()"></app-dev-alert>

  <div class="row">
    <div class="col-lg-6 mb-1 mb-lg-0">
      <form [formGroup]="requirementsForm">
        <div class="card mb-1">
          <h5 class="card-header">Major Network (CIDR slash notation)</h5>
          <div class="card-body">
            <input
              type="text"
              formControlName="majorNetwork"
              class="form-control"
              [class.is-invalid]="hasRequiredError(f.majorNetwork) || hasPatternError(f.majorNetwork)"
              id="majorNetwork"
            />
            <small class="invalid-feedback" *ngIf="hasRequiredError(f.majorNetwork)">Major network is required</small>
            <small class="invalid-feedback" *ngIf="hasPatternError(f.majorNetwork)">That network address isn't valid.</small>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Subnet Requirements</h5>
          <div class="card-body">
            <ng-container formArrayName="requirements" *ngFor="let req of reqs.controls; let i = index">
              <div class="row mb-2 g-1" [formGroup]="req">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-text">{{ i + 1 | number }}</span>
                    <input type="text" placeholder="Name" class="form-control" formControlName="label" />
                  </div>
                </div>
                <div class="col">
                  <div class="input-group has-validation">
                    <input
                      type="number"
                      min="0"
                      placeholder="Size"
                      class="form-control"
                      [class.is-invalid]="hasMinError(req.controls.size)"
                      formControlName="size"
                    />
                    <button class="btn btn-danger" [disabled]="reqs.controls.length < 2" (click)="deleteRequirement(i)">
                      <fa-icon [icon]="icons.cross"></fa-icon>
                    </button>
                    <div class="invalid-feedback">Must be positive</div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div>
              <button class="btn btn-success" (click)="addNewRequirement()"><fa-icon [icon]="icons.plus"></fa-icon> Add</button>
              <button class="btn btn-danger float-end" (click)="resetRequirements()"><fa-icon [icon]="icons.undo"></fa-icon> Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-6">
      <div class="card mb-1">
        <h5 class="card-header">Statistics</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p><b>Network Address: </b>{{ requirementsForm.controls.majorNetwork.value$ | async }}</p>
              <p><b>Network Size: </b>{{ (network?.networkSize | number) || '...' }}</p>
              <p><b>Required Hosts: </b>{{ (network?.requiredSize | number) || '...' }}</p>
              <p><b>Unused Hosts: </b>{{ (network?.unusedSize | number) || '...' }}</p>
              <p><b>Efficiency: </b>{{ (network?.efficiency | percent: '.3') || '...' }}</p>
            </div>
            <div class="col-auto">
              <div class="chart-container">
                <ngx-charts-pie-chart *ngIf="chartData" [results]="chartData" [labels]="true"> </ngx-charts-pie-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Import/Export Subnet</h5>
        <div class="card-body">
          <p>
            As well as storing your subnetting configuration in the browser's storage, you can also export your configuration to a special
            string, which you can then share with others, or save for later.
          </p>
          <button role="button" class="btn btn-success" (click)="importString(importModal)">
            <fa-icon [icon]="icons.import"></fa-icon> Import
          </button>
          <button role="button" class="btn btn-primary" (click)="exportString(exportModal)">
            <fa-icon [icon]="icons.export"></fa-icon> Export
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(hasError$ | async) === false && requirementsForm.valid">
    <small class="float-end">Last Modified: {{ (settings$ | async).modified | date: 'medium' }}</small>
    <table class="table table-striped table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Hosts Needed</th>
          <th scope="col">Hosts Available</th>
          <th scope="col">Unused Hosts</th>
          <th scope="col">Network Address</th>
          <th scope="col">Slash</th>
          <th scope="col">Mask</th>
          <th scope="col">Usable Range</th>
          <th scope="col">Broadcast</th>
          <th scope="col">Wildcard</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let s of network.subnets">
          <tr>
            <th scope="row">{{ s.requirements.label }}</th>
            <td>{{ s.requirements.size }}</td>
            <td>{{ s.networkSize }}</td>
            <td>{{ s.unusedSize }}</td>
            <td>{{ s.address.addressMinusSuffix }}</td>
            <td>{{ s.address.subnet }}</td>
            <td>{{ s.subnetMaskDottedDecimal }}</td>
            <td>{{ s.address.startAddressExclusive().address }} - {{ s.address.endAddressExclusive().address }}</td>
            <td>{{ s.address.endAddress().address }}</td>
            <td>{{ s.subnetMaskWildcard }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <small>Your subnetting settings will be stored in your browser's storage.</small>
  </div>

  <div *ngIf="hasError$ | async">
    <h3 class="text-danger">Uh oh. Looks like your major network is too small.</h3>
  </div>
</section>

<ng-template #importModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Import Subnet</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label" for="importTextInput">Paste your subnet string</label>
      <textarea #importTextInput id="importTextInput" placeholder="Paste here" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(importTextInput.value)">Import</button>
  </div>
</ng-template>

<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Export Subnet</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label" for="exportTextInput">Copy your subnet string</label>
      <textarea readonly #exportTextInput id="exportTextInput" class="form-control" rows="5">{{ modalExportString }}</textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="copyExportString()">
      <fa-icon [icon]="icons.copy"></fa-icon> Copy to Clipboard
    </button>
  </div>
</ng-template>
